@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

.bg-light {
  background-color: #666ca3;
}

.bg-dark {
  background-color: #13183f;
}

.bg-gr-light {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.bg-gr-dark {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
}

.bg-pink {
  background-color: #ffa7c3;
}

.text-grey {
  color: #83869a;
}

.text-pink {
  color: #f74780;
}

.text-white {
  color: #ffffff;
}
.text-dark {
  color: #13183f;
}
.heading-xl {
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;
}

.heading-l {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
}

.heading-m {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

.heading-s {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}

.heading-xs {
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
}
.body-m {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.body-s {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}

.btn-black {
  background: #13183f;
  border-radius: 28px;
}
.btn-black:hover {
  background: #666ca3;
}

.btn-pink {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
}

.btn-pink:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.btn-purple {
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  border-radius: 28px;
}
.btn-purple:hover {
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}




body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  width:100%;
}

.wrapper{
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

}
.logo-dark {
  display: block;
  max-width: 89px;
}

button {
  border: none;
}

.started {
  height: 48px;
  width: 140px;
  display: block;
}

header {
  width: 343px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
h1 {
  max-width: 343px;
  height: 101px;
}

.first-p {
  width: 346px;
  margin-top: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.section-one {
  margin-top: 45px;
  max-width: 343px;
}
.btn-sec {
  width: 167px;
  height: 56px;
  margin-top: 24px;
}

.image-hero {
  width: 327px;
  height: 301px;
  background-image: url(./assets/image-hero-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: center;
  border-radius: 10px;
}

.section-two {
  margin-top: 70px;
  max-width: 343px;
}

.section-three {
  margin-top: 40px;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-three div {
  margin-top: 40px;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  width: 343px;
  height: 259px;
  box-sizing: border-box;
  padding-left: 24px;
}
.courses-heading {
  box-sizing: border-box;
  max-width: 343px;
  height: 120px;
  padding: 24px 28px 32px 28px;
  border-radius: 10px;
}

p.para {
  max-width: 286px;
  height: 78px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
  margin-top: 16px;
}

.section-three button {
  background: white;
  width: 104px;
  height: 28px;
  border: none;
  padding: 0px;
  font-size: 18px;
  margin-top: 24px;
  margin-left: -4px;
}

.section-three button:hover {
  color: #ffa7c3;
}
.section-three img {
  display: absolute;
  margin-top: -24px;
}

.section-three h4 {
  margin-top: 24px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin-top:82px;

}

footer button {
  width: 140px;
  height: 48px;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;
  margin-right: 16px;
}

footer button:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}
.logo-light {
  margin-left: 16px;
  display: block;
  max-width: 89px;
}

button {
  cursor: pointer;
}

.tablet-img{
  display:none;
}
.tablet-img2{
  display:none;
}


/* Tablet Version */

@media (min-width: 768px) {
 
header{
  width:689px;
}
.wrapper{
  overflow: hidden;  
}

.section-one{
  min-width: 398px;
  height: 284px;
  position:relative;
  margin-top:105px;
  margin-left:-300px;
}


.first-p{
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869A;
  width:398px;
  height:78px;
}
.section-two{
width:640px;
height:640px;
overflow: hidden;
position:relative

}

.section-three{
  margin-top: -459px;
  width:689px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 11px;
  grid-row-gap: 56px;
}
.section-two{
  display:none;
}
.image-hero{
  display:none;
}
  .tablet-img{
    position: relative;
    width: 640.71px;
    height: 640px;
    left: 37px;
    top: -379.87px;
    display: block;
    z-index: -1;
    
}
.tablet-img2{
  display: none;
}

.tablet-img img{
  width: 683px;
  height: 693px;
  overflow: hidden;
  position: absolute;
  left: 254px;
  top: -144.13px;
  z-index: -1;
}


.section-three div{
  width:339px;
  margin-top:0px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
}

.courses-heading{
  width:339px;
  height:259px;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  padding: 56px 21px 139px 32px;
}

.logo-light{
  margin-left:40px;
}

footer button{
  margin-right:40px;
}


.started:hover{
  cursor: pointer;
  background: #666ca3;
}

}


/* Desktop */
@media (min-width: 1440px) {
  header{
    width:1109px;
    margin-left: 20px;
  }
  .wrapper{
    overflow: hidden;  
  }
  .logo-dark {
    display: block;
    max-width: 111px;
  }
  .started{
    width:167px;
    cursor: pointer;
  }
  
  .started:hover{
    background: #666ca3;
  }
  .body-s{
    font-size: 18px;
  }
  .section-one{
    min-width: 457px;
    height: 359px;
    position:relative;
    margin-top:178px;
    margin-left:-640px;
  }
  .heading-l {
    font-size: 56px;
    line-height: 71px;
}
  h1{
    max-width: 457px;
    height: 143px;
  }
  .first-p{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
    width:445px;
    height:84px;
  }
  .btn-sec {
    height: 67px;
 }

  .section-three{
    margin-top: -700px;
    width:689px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 80px;
  }
  .section-two{
    display:none;
  }
  .image-hero{
    display:none;
  }
  .tablet-img{
    display: none;
  }
  .tablet-img2{
    position: relative;
    width: 991px;
    height: 936px;
    left: 37px;
    top: -379.87px;
    display: block;
    z-index: -1;
  }
  
  .tablet-img2 img{
    width: 991px;
    height: 936px;
    overflow: hidden;
    position: absolute;
    left: 506px;
    top: -384.13px;
    z-index: -1;
  }
  
  .section-three div{
    width:350px;
    height:322px;
    margin-top:0px;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;

  }
  
  .courses-heading{
    width:350px;
    height:322px;
    line-height: 40px;
    padding: 64px 32px 138px 32px;
    font-size: 32px;
  }
  .section-three h4 {
    margin-top: 32px;
    font-size: 24px;
    line-height: 30px;
}
  p.para {
    font-size: 18px;
    line-height: 28px;
    width:286px;
    margin-top:24px;
    
  }
  .section-three button {
    margin-top: 75px;
  }


  .logo-light{
    /* margin-left:160px; */
    width:111px;
  }
  
  footer button{
    /* margin-right:170px; */
    width:167px;
  }

  }